# 登录的用户名和密码
USERNAME=admin
PASSWORD=password

# emos的服务端
EMOS_URL=https://emos.best
EMOS_TOKEN=
EMOS_FILE_STORAGE=google_drive,zn_r2_upload

# 视频的根目录
VIDEO_ROOT=/data/videos

# 监听地址
SERVER_HOST=0.0.0.0
SERVER_PORT=8004

# ffmpeg 的 ffprobe 位置
FFPROBE_PATH=/usr/bin/ffprobe

# 其他设置
HTTP_TIMEOUT=30s
UPLOAD_CHUNK_SIZE_BYTES=104857600
UPLOAD_CONCURRENCY=3
UPLOAD_RETRY_MAX=3
TASK_CONCURRENCY=3
